In [22]:
import numpy as np
import pandas as pd

df = pd.read_csv("Salary_Data.csv")
print(df)

    YearsExperience   Age  MonthlyIncome     BusinessTravel Attrition
0               1.1  21.0          39343  Travel_Frequently        No
1               1.3  21.5          46205  Travel_Frequently        No
2               1.5  21.7          37731      Travel_Rarely        No
3               2.0  22.0          43525      Travel_Rarely       Yes
4               2.2  22.2          39891      Travel_Rarely        No
5               2.9  23.0          56642  Travel_Frequently       Yes
6               3.0  23.0          60150      Travel_Rarely        No
7               3.2  23.3          54445  Travel_Frequently        No
8               3.2  23.3          64445      Travel_Rarely       Yes
9               3.7  23.6          57189      Travel_Rarely        No
10              3.9  23.9          63218  Travel_Frequently       Yes
11              4.0  24.0          55794      Travel_Rarely        No
12              4.0  24.0          56957      Travel_Rarely        No
13              4.1  24.0          57081  Travel_Frequently        No
14              4.5  25.0          61111  Travel_Frequently       Yes
15              4.9  25.0          67938      Travel_Rarely        No
16              5.1  26.0          66029  Travel_Frequently        No
17              5.3  27.0          83088      Travel_Rarely       Yes
18              5.9  28.0          81363  Travel_Frequently        No
19              6.0  29.0          93940  Travel_Frequently        No
20              6.8  30.0          91738      Travel_Rarely       Yes
21              7.1  30.0          98273  Travel_Frequently        No
22              7.9  31.0         101302      Travel_Rarely       Yes
23              8.2  32.0         113812  Travel_Frequently        No
24              8.7  33.0         109431      Travel_Rarely       Yes
25              9.0  34.0         105582  Travel_Frequently        No
26              9.5  35.0         116969      Travel_Rarely       Yes
27              9.6  36.0         112635  Travel_Frequently        No
28             10.3  37.0         122391      Travel_Rarely       Yes
29             10.5  38.0         121872  Travel_Frequently        No

In [23]:
print("The mean of monthly income is :",df.loc[:,"MonthlyIncome"].mean())
print("The mean of age is :",df.loc[:,"Age"].mean())

The mean of monthly income is : 76003.0
The mean of age is : 27.216666666666665

In [24]:
print("The median of monthly income is :",df.loc[:,"MonthlyIncome"].median())
print("The median of age is :",df.loc[:,"Age"].median())

The median of monthly income is : 65237.0
The median of age is : 25.0

In [25]:
print("The mode of monthly income is :",df.loc[:,"MonthlyIncome"].mode())
print("The mode of age is :",df.loc[:,"Age"].mode())

The mode of monthly income is : 0      37731
1      39343
2      39891
3      43525
4      46205
5      54445
6      55794
7      56642
8      56957
9      57081
10     57189
11     60150
12     61111
13     63218
14     64445
15     66029
16     67938
17     81363
18     83088
19     91738
20     93940
21     98273
22    101302
23    105582
24    109431
25    112635
26    113812
27    116969
28    121872
29    122391
Name: MonthlyIncome, dtype: int64
The mode of age is : 0    24.0
Name: Age, dtype: float64

In [26]:
print("The standard deviation of monthly income is :",df.loc[:,"MonthlyIncome"].std())
print("The standard deviation of age is :",df.loc[:,"Age"].std())

The standard deviation of monthly income is : 27414.4297845823
The standard deviation of age is : 5.161267108077196

In [27]:
array1 = np.array(df['MonthlyIncome'])
array2=np.array(df["Age"])
print("Income",array1)
print("Age array",array2)

Income [ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
  63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
  91738  98273 101302 113812 109431 105582 116969 112635 122391 121872]
Age array [21.  21.5 21.7 22.  22.2 23.  23.  23.3 23.3 23.6 23.9 24.  24.  24.
 25.  25.  26.  27.  28.  29.  30.  30.  31.  32.  33.  34.  35.  36.
 37.  38. ]

In [28]:
print("Maximum income among the employees is :",max(array1))
print("Minimum income among the employees is :",min(array1))
print("Maximum age among the employees is :",max(array2))
print("Minimum age among the employees is :",min(array2))

Maximum income among the employees is : 122391
Minimum income among the employees is : 37731
Maximum age among the employees is : 38.0
Minimum age among the employees is : 21.0

In [30]:

df["BusinessTravel"].replace({"Travel_Rarely":1, "Travel_Frequently":0}, inplace=True)
df["Attrition"].replace({ "Yes":1, "No":0}, inplace=True)
df.head()

   YearsExperience   Age  MonthlyIncome  BusinessTravel  Attrition
0              1.1  21.0          39343               0          0
1              1.3  21.5          46205               0          0
2              1.5  21.7          37731               1          0
3              2.0  22.0          43525               1          1
4              2.2  22.2          39891               1          0

In [53]:

iris = pd.read_csv('iris.data.txt')


iris.columns.tolist()

['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'species']

In [61]:
species_list = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
for species in species_list:
    print(f"Statistics for {species}:")
    species_data = iris[iris['species'] == species].drop(columns=['species'])
    stats = species_data.describe().T
    print(stats[['mean','std','min','25%','50%','75%','max']])

Statistics for Iris-setosa:
               mean       std  min    25%  50%    75%  max
Sepal_Length  4.974  0.419334  3.4  4.800  5.0  5.200  5.8
Sepal_Width   3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Petal_Length  1.454  0.190820  0.9  1.400  1.5  1.575  1.9
Petal_Width   0.244  0.107210  0.1  0.200  0.2  0.300  0.6
Statistics for Iris-versicolor:
               mean       std  min    25%   50%  75%  max
Sepal_Length  5.936  0.516171  4.9  5.600  5.90  6.3  7.0
Sepal_Width   2.770  0.313798  2.0  2.525  2.80  3.0  3.4
Petal_Length  4.260  0.469911  3.0  4.000  4.35  4.6  5.1
Petal_Width   1.326  0.197753  1.0  1.200  1.30  1.5  1.8
Statistics for Iris-virginica:
               mean       std  min    25%   50%    75%  max
Sepal_Length  6.588  0.635880  4.9  6.225  6.50  6.900  7.9
Sepal_Width   2.974  0.322497  2.2  2.800  3.00  3.175  3.8
Petal_Length  5.552  0.551895  4.5  5.100  5.55  5.875  6.9
Petal_Width   2.026  0.274650  1.4  1.800  2.00  2.300  2.5